In [20]:
#last_name = ['佐藤', '鈴木', '高橋', '田中', '伊藤', '渡辺', '山本', '中村', '小林', '加藤', '吉田', '山田', '佐々木', '山口', '井上']
#first_name = ['太郎', '浩', '裕子', '二郎', '由美', '恵子', '健一', '美香', '恵', '里奈', '健太郎', '拓哉', '春香', '直樹', '美由紀']
#sex = ['男', '男', '女', '男', '女', '女', '男', '女', '女', '女', '男', '男', '女', '男', '女']
#kokugo_score = [63, 74, 45, 85, 55, 58, 70, 83, 90, 83, 42, 80, 75, 70, 67]
#sugaku_score = [53, 84, 70, 65, 83, 66, 50, 77, 69, 50, 64, 80, 64, 53, 69]
#eigo_score = [80, 72, 57, 70, 62, 73, 72, 75, 92, 73, 54, 72, 78, 58, 70]

import pandas as pd
df = pd.DataFrame({'last_name': ['佐藤', '鈴木', '高橋', '田中', '伊藤', '渡辺', '山本', '中村', '小林', '加藤', '吉田', '山田', '佐々木', '山口', '井上'],
                    'first_name': ['太郎', '浩', '裕子', '二郎', '由美', '恵子', '健一', '美香', '恵', '里奈', '健太郎', '拓哉', '春香', '直樹', '美由紀'],
                    'sex': ['男', '男', '女', '男', '女', '女', '男', '女', '女', '女', '男', '男', '女', '男', '女'],
             'kokugo_score':[63, 74, 45, 85, 55, 58, 70, 83, 90, 83, 42, 80, 75, 70, 67],
             'sugaku_score':[53, 84, 70, 65, 83, 66, 50, 77, 69, 50, 64, 80, 64, 53, 69],
             'eigo_score':[80, 72, 57, 70, 62, 73, 72, 75, 92, 73, 54, 72, 78, 58, 70]},
                   )
df

   last_name first_name sex  kokugo_score  sugaku_score  eigo_score
0         佐藤         太郎   男            63            53          80
1         鈴木          浩   男            74            84          72
2         高橋         裕子   女            45            70          57
3         田中         二郎   男            85            65          70
4         伊藤         由美   女            55            83          62
5         渡辺         恵子   女            58            66          73
6         山本         健一   男            70            50          72
7         中村         美香   女            83            77          75
8         小林          恵   女            90            69          92
9         加藤         里奈   女            83            50          73
10        吉田        健太郎   男            42            64          54
11        山田         拓哉   男            80            80          72
12       佐々木         春香   女            75            64          78
13        山口         直樹   男            70            53          58
14        井上        美由紀   女            67            69          70

In [21]:
df['合計']=df.sum(axis='columns',numeric_only=True)
df['氏名']=df['last_name']+' '+df['first_name']
df

,last_name,first_name,sex,kokugo_score,sugaku_score,eigo_score,合計,氏名
0,佐藤,太郎,男,63,53,80,196,佐藤 太郎
1,鈴木,浩,男,74,84,72,230,鈴木 浩
2,高橋,裕子,女,45,70,57,172,高橋 裕子
3,田中,二郎,男,85,65,70,220,田中 二郎
4,伊藤,由美,女,55,83,62,200,伊藤 由美
5,渡辺,恵子,女,58,66,73,197,渡辺 恵子
6,山本,健一,男,70,50,72,192,山本 健一
7,中村,美香,女,83,77,75,235,中村 美香
8,小林,恵,女,90,69,92,251,小林 恵
9,加藤,里奈,女,83,50,73,206,加藤 里奈
10,吉田,健太郎,男,42,64,54,160,吉田 健太郎
11,山田,拓哉,男,80,80,72,232,山田 拓哉
12,佐々木,春香,女,75,64,78,217,佐々木 春香
13,山口,直樹,男,70,53,58,181,山口 直樹
14,井上,美由紀,女,67,69,70,206,井上 美由紀

In [22]:
all = df['合計'].sum()/len(df)
print(all)
ma = df.query("sex=='男'")
ma = ma['合計'].sum()/len(ma)
print(ma)
fe = df.query("sex=='女'")
fe = fe['合計'].sum()/len(fe)
print(fe)

206.33333333333334
201.57142857142858
210.5

In [24]:
df2 = pd.DataFrame({'氏名':df['氏名'],'性別':df['sex'],'国語':df['kokugo_score'],'数学':df['sugaku_score'],'英語':df['eigo_score'],'合計':df['合計']})
df2

        氏名 性別  国語  数学  英語   合計
0    佐藤 太郎  男  63  53  80  196
1     鈴木 浩  男  74  84  72  230
2    高橋 裕子  女  45  70  57  172
3    田中 二郎  男  85  65  70  220
4    伊藤 由美  女  55  83  62  200
5    渡辺 恵子  女  58  66  73  197
6    山本 健一  男  70  50  72  192
7    中村 美香  女  83  77  75  235
8     小林 恵  女  90  69  92  251
9    加藤 里奈  女  83  50  73  206
10  吉田 健太郎  男  42  64  54  160
11   山田 拓哉  男  80  80  72  232
12  佐々木 春香  女  75  64  78  217
13   山口 直樹  男  70  53  58  181
14  井上 美由紀  女  67  69  70  206

In [26]:
df2.to_csv('to_csv_out_columns.csv',encoding="shift jis",index=False)